<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background:whitesmoke;padding:10px;">

    <h1 style="padding:10px; background:black; color:white">Fun-Movie</h1>
    
    <hr>

    <p>Thank you for your subscription.You will be automatically charged the subscription every month unless you cancel.
        You can cancel at any time.
    </p>

    <hr>

<p>Order Date: {{date}} ---- {{time}}</p>

<div style="text-align:center;">

<h5 style="background:darkcyan;padding:10px 20px;">Plans: {{paymentId.plans}}</h5>

<hr>
<p>Plans: {{paymentId.plans}}</p>
<p>Price: £{{paymentId.price}}/month</p>
<p>serviceone: {{paymentId.serviceone}}</p>
<p>servicetwo: {{paymentId.servicetwo}}</p>
<p>servicethree: {{paymentId.servicethree}}</p>
<p>servicefour: {{paymentId.servicefour}}</p>
<p>servicefive: {{paymentId.servicefive}}</p>

<hr>
<p>Email: {{email}}</p>


</div>

<hr>

<div>


<p>PaymentMethod: {{body.card.brand}}</p>
<p>Card Ending: {{body.card.last4}}</p>


</div>

</body>
</html>